
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Views/Country.js"></script>

<div class="container">
    <fieldset>
        <legend>Países</legend>

        <a href="#divListCountry" data-toggle="collapse" class="btn active">
            Consultar <i class="glyphicon glyphicon-chevron-down"></i>
        </a>

        <div id="divListCountry" class="collapse in">
            <fieldset>
                <legend>Consultar</legend>
                <br />
                <div id="tableContainer">
                </div>
            </fieldset>
        </div>

        <a href="#divCreateCountry" data-toggle="collapse" class="btn active">
            Crear <i class="glyphicon glyphicon-chevron-down"></i>
        </a>
        <div id="divCreateCountry" class="collapse">
            <fieldset>
                <legend>Crear</legend>

                <div class="form-group">
                    <input type="text" name="txtNombre" id="txtNombre" required
                           placeholder="Nombre" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="button" name="btnGuardar" id="btnGuardar" onclick="saveCountry()"
                           value="Guardar País" class="btn btn-success btn-block" />
                </div>
            </fieldset>
        </div>

        <a href="#divUpdateCountry" data-toggle="collapse" class="btn active">
            Modificar <i class="glyphicon glyphicon-chevron-down"></i>
        </a>
        <div id="divUpdateCountry" class="collapse">
            <fieldset>
                <legend>Modificar</legend>

                <div class="form-group">
                    <input type="text" name="txtNombreUpdate" id="txtNombreUpdate" required
                           placeholder="Nombre" class="form-control" />
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        @Html.DropDownList("countryToUpdate", ViewBag.paises as List<SelectListItem>,
                        new { @class = "form-control" })

                    </div>

                    <div class="form-group">
                        <input type="button" name="btnUpdateClient" id="btnUpdateClient" onclick="updateCountry()"
                               value="Modificar País" class="btn btn-warning btn-block" />
                    </div>
                </div>

            </fieldset>
        </div>

    </fieldset>
</div>

